<div>
  <h3>Highlight</h3>
  <md-content class="search-term-box">
    <div layout="row">
      <md-input-container>
        <label>Search Term</label>
        <input ng-model="highlightModel.search" on-enter="searchByTerm()">
      </md-input-container>
      <div><md-button class="md-primary md-raised" ng-click="searchByTerm()" ng-disabled="!highlightModel.search">Search</md-button></div>
    </div>
    <md-list ng-if="highlightModel.terms.length > 0">
      <md-subheader class="md-no-sticky">Active Highlights</md-subheader>
      <md-list-item ng-repeat="term in highlightModel.terms">
        <p>{{term}}</p>
        <md-icon class="md-secondary remove-repo" ng-click="removeTermAtIndex($index)" aria-label="remove repo" md-svg-icon="images/icons/delete.svg" style="color: black;"></md-icon>
      </md-list-item>
    </md-list>
  </md-content>
</div>
