<div flex id="layout-wrapper" layout="column" layout-align="center center">
  <md-whiteframe class="md-whiteframe-2dp" layout-padding>
    <md-content>
      <h2>Project Heinzelmannchen</h2>
      <p>Project Heinzelmannchen is a new approach for managing risk in complex research and development activities by displaying the individual taks and their interdependencies in graph structure.</p>
      <p>
        Login with your GitHub credentials and try it yourself.
      </p>
      <a href="https://heinzelmannchen.herokuapp.com/get_code"><md-button class="md-primary md-raised">Authorize on GitHub</md-button></a>
    </md-content>
  </md-whiteframe>
</div>
