<div>
  <h3>Repositories</h3>
  <md-content>
    <input ng-model="repoModel.search" placeholder="org/repo"  on-enter="addRepo(repoModel.search)">
    <md-list>
      <md-list-item ng-repeat="repo in repoModel.repos" layout="row">
        <!-- <md-checkbox ng-model="message.selected"></md-checkbox> -->
        <p flex>{{repo.org}} / {{repo.name}}</p>
        <md-icon class="remove-repo" ng-click="removeRepoAtIndex($index)" aria-label="remove repo" md-svg-icon="images/icons/delete.svg" style="color: black;"></md-icon>
      </md-list-item>
    </md-list>
  </md-content>
</div>
